section {
    margin-bottom: 30px;
}
.container-clock-out {
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;
}

.container-clock-in {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgb(255, 248, 212);
    box-shadow: -4px 0px 4px rgba(199, 183, 131, 0.5), 8px 0px 8px rgba(211, 194, 140, 0.5);  
}

.container-clock-in:after {
    content: "";
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset -3px 0px 3px rgba(205, 196, 166, 0.5), inset 4px 0px 4px rgba(211, 194, 140, 0.5);
}

.clock span {
    position: absolute;
    inset: 18%;
    color: rgb(97, 89, 93);
    font-family: Raleway;
    transform: rotate(calc(30deg * var(--i) + 45deg) );
}

.clock span b {
    font-size: 15px;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i) - 47deg));
}

.mark span {
    position: absolute;
    inset:  28%;
    opacity: 0.5;
    transform: rotate(calc(30deg * var(--ii) + 45deg) );
}

.mark span b {     
    height: 5%;
    width: 5%;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(95, 93, 93);
    transform: rotate(calc(-45deg));
}

.smallmark span {
    position: absolute;
    inset: 29%;
    opacity: 0.5;
    transform: rotate(calc(6deg * var(--iii) + 45deg));
}

.smallmark span b {     
    height: 1.5%;
    width: 1.5%;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(95, 93, 93);
}

.hour,
.minute,
.second {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #404041;
    border-radius: 40%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: left;
}

.hour {
    width: 20%;
    height: 5px;
}

.minute {
    width: 25%;
    height: 3.5px;
}

.second {
    width: 29%;
    background-color: red; 
    height: 1.5px;
}

.pin {
    position: absolute;
    height: 5%;
    width: 5%;
    border-radius: 50%;
    opacity:1;
    background-color: #f4f4f6;  
    box-shadow: inset 1px 1px 6px rgb(52, 162, 146),
                inset -1px -1px 6px #ffffff;  
}


@media screen and (max-width: 600px) {
    section {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    .waviy {
        margin-top: 20px;
        margin-left: 20px;
      }
      .container-clock-out {
        margin-left: 50px;
    }
}